@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-toolbar.ql-snow {
  border-radius: 4px 4px 0 0;
  border: 1px solid #dfe1e6;
  border-bottom: none;
}
.ql-container.ql-snow {
  border-radius: 0 0 4px 4px;
  border: 1px solid #dfe1e6;
  border-top: none;
  color: #172b4d;
  font-size: 15px;
}
.ql-editor {
  min-height: 180px;
}